/*********************************************
    WIDGET GARP_Widget
*********************************************/

.footer-icon {
    background-image: url("img/icons.png");
    background-repeat: no-repeat;
}

.icon-date {
    background-position: 0 0;
}

.widget_garp_widget {    
    ul {
        li {
            text-align: right;
            
            a {
                display: block;
                text-align: left;
            }  
            
            span.post-date {
                @extend .footer-icon;
                @extend .icon-date;
                display: inline-block;
                font-size: 10px;
                line-height: 10px;
                padding: 0 0 0 14px;
            }
        }
    }
}